<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort multiTemplateDataRows
    aria-label="Elements" class="mat-elevation-z8">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row; let rIndex = dataIndex;">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(rIndex) : null"
          [checked]="selection.isSelected(rIndex)" [aria-label]="checkboxLabel(rIndex)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
      <td mat-cell *matCellDef="let element; let rIndex = dataIndex;"> {{rIndex+1}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}},&nbsp;{{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef> Birthday </th>
      <td mat-cell *matCellDef="let element"> {{element.birthday | date}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell  *matCellDef="let element"> 
        <span class="send-email-btn" (click)="openSendMessageBox($event)">{{element.email}} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="verified">
      <th mat-header-cell *matHeaderCellDef> Verified </th>
      <td mat-cell *matCellDef="let element"> {{element.verified}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.physicaladdress}}, {{element.physicalcity}},
        {{element.physicalstate}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
          <mat-icon class="mat-18">reorder</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
          <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="member-detail-wrap">
            <div>
              <div class="avatar" [style.background-image]="element?.profilePicture?.path?
              'url(' + serverUrl +'/' + element.profilePicture.path + ')' : 'url(assets/imgs/user.svg)'">
              </div>
            </div>
            <div class="member-about-wrap">
              <div class="member-about-name accent">About
                {{element.firstName}}&nbsp;{{element.lastName}}:&nbsp;</div>
              <div class="member-about-content">{{element.aboutme}}</div>
              <div>
                <ul>Score
                  <li>Answers</li>
                  <li>Questions<i></i></li>
                  <li>Followers<i></i></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[10, 25, 50, 100, 250]">
  </mat-paginator>
</div>