.user-form{
    .form-field-outer{
        width: 400px;
    }
    .mat-radio-button{
        margin-right: 12px;
    }
    .gender-wrap {
        margin-bottom: 1rem;
    }
    .change-pass-check {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}