<mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60"
            autocomplete="off">

            <mat-card class="p-0 mat-elevation-z24 box reset-password">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    <button mat-fab 
                        color="accent" class="mat-elevation-z12" 
                        routerLink="/">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center"
                        class="mat-elevation-z12 box-content-inner">
                        <span class="box-content-header">change password</span>
                        <mat-form-field class="w-100">
                            <mat-placeholder>
                                Old Password
                            </mat-placeholder>
                            <input matInput formControlName="currentPassword"
                                [type]="currentPasswordHide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="currentPasswordHide = !currentPasswordHide">
                                {{currentPasswordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="form.controls.currentPassword.errors?.required">Password is required</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-placeholder>
                                New Password
                            </mat-placeholder>
                            <input matInput formControlName="password"
                                [type]="passwordHide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="passwordHide = !passwordHide">
                                {{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="form.controls.password.errors?.required">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="form.controls.password.hasError('minlength')">
                                Password isn't long enough, minimum of 8 characters
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-placeholder>
                                Confirm Password
                            </mat-placeholder>
                            <input matInput formControlName="confirmPassword" required
                                type="password">
                            <mat-error *ngIf="form.controls.confirmPassword.errors?.required">
                                Confirm password
                            </mat-error>
                            <mat-error *ngIf="checkError(form, 'confirmPassword', 'passwordsMismatch') && 
                                    !checkError(form, 'confirmPassword', ['required'])">
                                Passwords do not match.
                            </mat-error>
                        </mat-form-field>
                    </mat-card>
                    <button mat-raised-button 
                        color="primary" class="mat-elevation-z12 box-button" 
                        type="submit" >
                        Change Password
                    </button>
                </mat-card-content>
            </mat-card>

        </form>

    </div>

</mat-sidenav-container>