<div fxLayout="row" fxLayoutAlign="space-between">
  <h2 mat-dialog-title>{{data.answer ? 'Update Answer' : 'Answer Question'}}</h2>
  <button mat-icon-button mat-dialog-close tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off" novalidate>
  <mat-dialog-content fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Answer</mat-label>
      <textarea rows="12" matInput formControlName="content" required></textarea>
      <mat-hint align="end">{{form.get('content').value.length}} / 500</mat-hint>
      <mat-error *ngIf="checkError(form, 'content', ['required', 'blank'])">
        Required.
      </mat-error>
      <mat-error *ngIf="checkError(form, 'content', 'maxlength')">
        Answer has a maximum length of 500 characters.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="" mat-raised-button color="accent" [disabled]="form.invalid || submitted" type="submit">
      {{data.answer ? 'Update' : 'Answer'}}
    </button>
  </mat-dialog-actions>
</form>
