<div class="alert_dialog_wrap" fxLayout="column" fxLayoutAlign="space-between center" >
  <div class="alert_dialog_title">
    {{data.title}}
  </div>
  <div class="alert_dialog_comment">
    {{data.comment}}
  </div>
  <div class="alert_dialog_button_wrap" fxLayout="row">
    <div>
      <button *ngIf="data.dialog_type == 'answer' else ask" mat-raised-button mat-dialog-close tabindex="-1">Answer more</button>
      <ng-template #ask>
        <button mat-raised-button (click)="onNoClick('more')">Ask more</button>
      </ng-template>
    </div>
    <div>
      <button mat-raised-button (click)="onNoClick('dismiss')">Dismiss</button>
    </div>
  </div>
</div>
