@import "../../../theme/styles/variables";

.bid-price-box {
  position: relative;
}

.bid-price-icon {
  margin-right: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  box-sizing: border-box;
}

.highst-mark {
  border-radius: 30px;
  background-color: #f8498dff;
}

.unique-mark {
  border-radius: 30px;
  background-color: #9216d0ff;
}

.deplicate-mark {
  border-radius: 30px;
  background-color: #666666ff;
}

.bid-price {
  position: absolute;
  top: 20px;
  left: 3px;
  color: white;
  width: 54px;
  height: 20px;
  text-align: center;
}