.profile-page-wrap{
}
.form-wrap {
  width: 100%;
}
form {
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
.profile-picture-container {
  padding: 1rem;
}

mat-form-field{
  width: 100%;
}
.avatar{
  width: 200px;
  height: 200px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer !important;
}
.shipping-address-check-wrap{
  padding-bottom: 1rem;
}
.gender-wrap{
  padding-bottom: 1rem;
}
.tags-check-wrap{
 padding-bottom: 1rem;
}
mat-checkbox{
  margin-left: 1rem;
}

.btn-savechange {
  width: 10rem;
}

::ng-deep {
  .mat-tab-labels {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
  }
  .mat-tab-label {
    min-width: 0 !important;
    width: 50% !important;
    &:focus {
      background-color: transparent !important;
    }
  }
  .mat-tab-header-pagination {
    display: none !important;
  } 
}
.mat-form-field {
  font-size: 16px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.date-picker-wrap{
}
.firstname-wrap {
  margin-right: 1rem; 
}
.city-wrap {
  margin-right: 1rem; 
}
.state-wrap {
  margin-right: 1rem; 
}
.address-wrap {
  margin-right: 1rem; 
}
.lastname-wrap {
}
.address-label{
  margin-bottom: 0.5rem;
}
.username-wrap{
  margin-right: 1rem;
}
.email-wrap{
  margin-right: 1rem;
}
.interest-wrap{
  margin-left: 1rem;
  margin-bottom: 1rem; 
  width: 7rem;
}
.interest-label-wrap{
  margin-bottom: 1rem;
}
