<div fxLayout="row" fxLayoutAlign="space-between center">
  <h2>Send Message</h2>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<form class="" [formGroup]="infoForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
  <div class="" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="contactFormEmail" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <input matInput formControlName="contactFormSubjects">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput rows="5" formControlName="contactFormMessage" required></textarea>
      <mat-hint align="end">{{infoForm.get('contactFormMessage').value.length}} / 100</mat-hint>
      <mat-error *ngIf="checkError(infoForm, 'contactFormMessage', ['required', 'blank'])">
        Required.
      </mat-error>
      <mat-error *ngIf="checkError(infoForm, 'contactFormMessage', 'maxlength')">
        Question has a maximum length of 100 characters.
      </mat-error>
    </mat-form-field>

  </div>
  <div>
    <div class="center-align">
      <button class="btn-savechange" mat-raised-button color="accent" [disabled]="submitted" type="submit">
        Send
      </button>
    </div>
  </div>
</form>