<div *ngIf="isAuthenticated(); else login">
  <block-ui>
    <div class="app-wrapper">
      <div class="app-content-wrap">
        <app-header></app-header>
        <div [className]="isMediaActive('gt-xs')? 'padding-1rem' : 'padding-05rem'">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="sticky-footer-wrap">
        <app-footer></app-footer>
      </div>
    </div>
  </block-ui>
</div>
<ng-template #login>
  <div class="page-wrap">
    <div class="login-wrap">
      <app-login></app-login>
    </div>
  </div>
</ng-template>