
@import "../assets/scss/theme.scss";
.app-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sticky-header-wrap {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.mat-sidenav-container{
    padding-top: 64px;
}
.sticky-footer-wrap {
    flex-shrink: 0;
    padding-top: 1rem;
}

.app-content-wrap {
    flex: 1 0 auto;
}

.page-wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrap {
    margin: 0 auto;
    max-width: 300px;
}

.mat-sidenav {
    position: fixed;
    height: fit-content;
    padding-top: 64px;
    margin: 1rem 0rem;
    width: 200px;
}

.mat-sidenav-container {
    background-color: white !important;
}

.mat-nav-list {
    padding-top: 0;
}

.version-info {
    font-size: 8pt;
    float: right;
    padding: 8px;
}



