<div class="dialog-wrap" fxLayout="column">
    <div class="flex-p">
      <form [formGroup]="infoForm" (ngSubmit)="addAuction()" fxLayout="column" fxLayout.gt-sm="row wrap"
        autocomplete="off" class="form-field-outer">
        <mat-card>
          <mat-card-header fxLayoutAlign="center">
            <mat-card-subtitle>
              <h2>Create New Auction</h2>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign=" center" class="form-field-outer">
              <mat-form-field class="w-100">
                <input matInput formControlName="auctionTitle" placeholder="Auction Title" required>
                <mat-error *ngIf="checkError(infoForm, 'auctionTitle', ['required', 'blank'])">
                  Required.
                </mat-error>
                <mat-error *ngIf="checkError(infoForm, 'auctionTitle', 'maxlength')">
                  Question has a maximum length of 100 characters.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <input matInput numeric numericType="decimal" formControlName="bidblabPrice" placeholder="BidBlab Price"
                  required>
                <mat-error *ngIf="checkError(infoForm, 'bidblabPrice', ['required', 'blank'])">
                  Required.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <input matInput numeric numericType="decimal" formControlName="retailPrice" placeholder="Retail Price"
                  required>
                <mat-error *ngIf="checkError(infoForm, 'retailPrice', ['required', 'blank'])">
                  Required.
                </mat-error>
                <mat-error *ngIf="checkError(infoForm, 'retailPrice', 'auctionPriceMismatch') && 
                                  !checkError(infoForm, 'retailPrice', ['required'])">
                  Retail price must be greater than or equal to bidblab price.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <input matInput value="{{infoForm.value.bidblabPrice}}" readonly placeholder="Max Bid" required>
              </mat-form-field>
              <mat-form-field class="w-100">
                <input matInput numeric numericType="number" formControlName="bidFee" placeholder="Bid Fee" required>
                <mat-error *ngIf="checkError(infoForm, 'bidFee', ['required', 'blank'])">
                  Required.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <input matInput [owlDateTime]="starts" formControlName="starts" placeholder="Date Time" required>
                <mat-icon matSuffix [owlDateTimeTrigger]="starts" class="date-picker-icon">date_range</mat-icon>
                <owl-date-time [showSecondsTimer]="true" #starts></owl-date-time>
                <mat-error *ngIf="checkError(infoForm, 'starts', ['required'])">
                  Required.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <input matInput [owlDateTime]="closes" formControlName="closes" placeholder="Date Time" required>
                <mat-icon matSuffix [owlDateTimeTrigger]="closes" class="date-picker-icon">date_range</mat-icon>
                <owl-date-time [showSecondsTimer]="true" #closes></owl-date-time>
                <mat-error *ngIf="checkError(infoForm, 'closes', ['required'])">
                  Required.
                </mat-error>
                <mat-error *ngIf="checkError(infoForm, 'closes', 'auctionTimeMismatch') && 
                                  !checkError(infoForm, 'closes', ['required'])">
                  Close time must be later than start time.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <input matInput formControlName="auctionSerial" placeholder="Auction ID" required>
                <mat-error *ngIf="checkError(infoForm, 'auctionSerial', ['required', 'blank'])">
                  Required.
                </mat-error>
              </mat-form-field>
            </div>
            <div xLayout="column" fxLayout.gt-sm="row wrap" class="form-field-outer">
              <div class="w-25 picture-wrap" *ngFor="let questionPicture of questionPictures; let index = index">
                <label>
                  <div class="question-image" [class.cloud-image]="!questionPicture" [style.background-image]="questionPicture?
                      'url(' + questionPicture.url + ')' : 'url(assets/img/extra/upload-to-cloud-96.png)'">
                  </div>
                  <input type="file" accept="image/*" class="file" (change)="onPictureChanged($event, index)" hidden />
                </label>
                <mat-icon color="warn" class="picture-delete" (click)="deletePicture(index); $event.stopPropagation()">
                  delete
                </mat-icon>
              </div>
              <div class="w-25">
                <label>
                  <div class="question-image cloud-image"
                    [style.background-image]="'url(assets/img/extra/upload-to-cloud-96.png)'">
                  </div>
                  <input type="file" accept="image/*" class="file" (change)="addPicture($event)" hidden />
                </label>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center">
            <button class="" mat-raised-button color="accent" [disabled]="infoForm.invalid || submitted" type="submit">
              <span>Save</span>
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>