.custom-card {
  margin: -24px -24px -24px -24px;

  mat-card-content {
    padding: 2rem 1rem 1rem 1rem;
  }

  mat-card-actions {
    padding: 1rem 1rem 1rem 1rem;
  }
}

.question-image {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cloud-image {
  background-size: auto !important;
  border: 1px solid rgb(240, 240, 240);
}

.date-picker-icon:hover {
  cursor: pointer;
}

.picture-wrap {
  position: relative;

  .picture-delete {
    z-index: 10;
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

.picture-wrap:hover {
  .question-image {
    opacity: 0.4;
  }

  .picture-delete {
    opacity: 1;
    display: block;
  }

  .picture-delete:hover {
    cursor: pointer;
  }
}