<div *ngIf="isInit" class="credits-block main-border" fxLayout="column" fxLayoutAlign=" none" >
  <div class="credits-wrap">
    <span>Question Credits: </span><span class="accent">{{question_credits}}</span>
  </div>
  <div class="credits-wrap">
    <span>Answer Credits: </span><span class="accent">{{answer_credits}}</span>
  </div>
  <div class="credits-wrap">
    <span>Referal Credits: </span><span class="accent">{{referal_credits}}</span>
  </div>
  <div class="credits-wrap">
    <span>Total Credits earned: </span><span class="accent">{{total_credits}}</span>
  </div>
</div>
