@import "../../../../assets/scss/theme.scss";

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  // .mat-list-item.active {
  //   background-color: $primary !important;
  // }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: $primary !important;
    }
  }
}

.mat-list-item {
  box-sizing: content-box;
  padding: 8px 0;
  display: flex;
  width: auto;
  height: 48px;

  .routeIcon {
    margin-right: 40px;
  }
}

.mat-drawer {
  padding-top: 56px;
}