.card-no-padding{
	margin: -24px -24px -24px -24px;
}

mat-card-content {
  padding-top: 1rem;
}

.question-image {
  width: 270px;
  height: 202px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cloud-image {
  background-size: auto !important;
  border: 1px solid rgb(240, 240, 240);
}

.question-wrap {
	width: 100%;
}