<form [formGroup]="infoForm" (ngSubmit)="submitForm()" autocomplete="off" novalidate>
	<mat-card class="custom-card card-no-padding">
		<mat-card-header class="bg-primary p-1" fxLayoutAlign="space-between center">
			<mat-card-title class="m-0">
				<h3>
					<span *ngIf="!data.question">Add</span><span *ngIf="data.question">Edit</span> Question
				</h3>
			</mat-card-title>
			<button mat-icon-button mat-dialog-close tabindex="-1">
				<mat-icon>close</mat-icon>
			</button>
		</mat-card-header>
		<mat-card-content >
			<div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="space-between">
				<mat-form-field *ngIf="standardInterests" fxFlex="45" class="w-50">
					<mat-select placeholder="Select Catagory for question" formControlName="tag">
						<mat-option *ngFor="let interest of standardInterests;" [value]="interest">
							{{interest}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field fxFlex="25" class="w-50">
					<input matInput numeric numericType="number" formControlName="priority" placeholder="Priority" required>
					<mat-error *ngIf="checkError(infoForm, 'priority', ['required', 'blank'])">
						Required.
					</mat-error>
				</mat-form-field>
				<mat-form-field fxFlex="25" class="w-50">
					<input matInput numeric numericType="number" formControlName="answerCredit" placeholder="Answer Credit" required>
					<mat-error *ngIf="checkError(infoForm, 'answerCredit', ['required', 'blank'])">
						Required.
					</mat-error>
				</mat-form-field>
			</div>
			<mat-form-field class="question-wrap" appearance="outline">
				<mat-label>Question</mat-label>
				<textarea rows="5" type="text" matInput formControlName="title" required></textarea>
				<mat-hint align="end">{{infoForm.get('title').value.length}} / 500</mat-hint>
				<mat-error *ngIf="checkError(infoForm, 'title', ['required', 'blank'])">
					Required.
				</mat-error>
				<mat-error *ngIf="checkError(infoForm, 'title', 'maxlength')">
					Question has a maximum length of 500 characters.
				</mat-error>
			</mat-form-field>
			<div xLayout="column" fxLayout.gt-sm="row wrap" class="form-field-outer">
				<div class="w-25 picture-wrap" *ngFor="let uploadFile of uploadFiles; let index = index">
					<img *ngIf="selectedFileIndex != index" class="cropped-img" [src]="uploadFile.croppedImage"
						(click)="openCrop(index)" />
					<div class="crop-wrap">
						<app-upload-image *ngIf="selectedFileIndex == index" (sendData)="addPicture($event)"
							[originalImage]="uploadFiles[index].originalFile" [firstCrop]="uploadFiles[index].croppedFile == ''">
						</app-upload-image>
					</div>
				</div>
				<input id="fileToUpload" type="file" accept="image/*" (change)="addFile($event)" style="display:none;">
				<div class="w-25" [ngClass]="{'hidden': uploadFiles.length != 0}">
					<label for="fileToUpload">
						<div class="question-image cloud-image"
							[style.background-image]="'url(assets/img/extra/upload-to-cloud-96.png)'">
						</div>
					</label>
				</div>
			</div>
		</mat-card-content>
		<mat-divider></mat-divider>
		<mat-card-actions fxLayoutAlign="end center">
			<button class="" mat-raised-button color="accent" [disabled]="infoForm.invalid || submitted" type="submit">
				<span *ngIf="!data.question">Save</span>
				<span *ngIf="data.question">Update</span>
			</button>
		</mat-card-actions>
	</mat-card>
</form>