<input id="fileToUpload" type="file" accept="image/*" (change)="fileChangeEvent($event)" style="display:none;">
<div fxLayout="row" fxLayoutAlign="center center">
  <div class="picture-wrap">
    <label for="fileToUpload">
      <p *ngIf="!croppedImage">Choose upload file for extra credit.</p>
    </label>
    <img class="cropped-img" [ngClass]="{'opecity': viewMenuFlag}" [src]="croppedImage" (click)="viewMenu();" />
    <div class="picture-menu-wrap">
      <mat-icon color="accent" class="picture-delete" *ngIf="viewMenuFlag && !imageChangedEvent"
        (click)="startCrop(); viewMenu(); $event.stopPropagation();">
        crop
      </mat-icon>
      <mat-icon color="accent" class="picture-delete" *ngIf="imageChangedEvent"
        (click)="saveCrop(); $event.preventDefault();">
        save
      </mat-icon>
      <label for="fileToUpload">
        <mat-icon color="accent" class="picture-delete" *ngIf="viewMenuFlag" (click)="viewMenu();">
          cloud_upload
        </mat-icon>
      </label>
    </div>
  </div>
</div>


<image-cropper [ngClass]="{'display-none': !imageChangedEvent}" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
  [resizeToWidth]="300" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
  (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
</image-cropper>