.question-image {
  width: 270px;
  height: 202px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cloud-image {
	background-size: auto !important;
	border: 1px solid rgb(240, 240, 240);
}

.date-picker-icon:hover{
	cursor: pointer;
}

.crop-wrap{
  width: 270px;
}